/* Author: Giovanna Lorena Delgado Mendoza*/
/*Style to display the agent name in the rating window*/

  .agent-name {
    font-family: bold;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: 15px 0;
    display: none;
    width: 80%;
  }

@media (min-width: 1200px) and (orientation: landscape) {
    .figure-caption{
      margin-top: 5%;
      margin-bottom: -10%;
    }
}
@media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .figure-caption{
    margin-top: 5%;
    margin-bottom: -5%;
  }
}

@media  (orientation: portrait) {
  .figure-caption{
    margin-top: 5%;
    margin-left: -20%;
    width: 100%;
    text-align: center;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    height: 40px;
  }
}