.agent-name-card {
    width: 80%;
    border-radius: 10px;
    /* box-shadow: var(--box-shadow); */
    margin-bottom: 20px;
  }
  
  .agent-name-title {
    font-family: var(--font-family);
    font-size: 1.5rem;
    /* font-weight: bold; */
    color: #333;
    text-align: center;
    margin-top: -5%;
  }