:root {
  --color-primary: #00bcb4;
  --color-secondary: #d7006d;
  --color-tertiary: #ffce00;
  --color-quaternary: #ec6907;
  --font-family: "exo", sans-serif;
  --font-size-title: 18px;
  --font-size-value: 40px;
  --font-size-rank: 14px;
  --font-size-title-small: 16px;
  --font-size-value-small: 30px;
  --font-size-star-rating: 30px;
}

/* ANIMACIONEEES iii */
.blue-card,
.pink-card,
.yellow-card,
.orange-card,
.custom-card, 
.profile-container img,
.chart-container  {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  gap: 10px;
  margin-top: -5%;
  margin-left: 7.5%;
}

.custom-card-title {
  font-weight: normal;
}

.custom-row {
  display: flex;
}

.custom-col {
  flex: 1;
  margin-right: 10px;
}

.custom-card {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 0%;
}

.custom-card-title {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}

.custom-card-header,
.custom-card-footer {
  color: #fff;
  padding: 5px;
  text-align: center;
}

.custom-card-title,
.custom-card-text,
.custom-card-footer {
  color: #000;
}

.custom-card-body {
  padding: 10px;
}

.custom-card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.custom-card-text {
  font-size: 14px;
}

.card-primary {
  border: 1px solid var(--color-primary);
}

.card-secondary {
  border: 1px solid var(--color-secondary);
}

.card-tertiary {
  border: 1px solid var(--color-tertiary);
}

.card-primary .custom-card-header {
  background-color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.card-secondary .custom-card-header {
  background-color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}

.card-tertiary .custom-card-header {
  background-color: var(--color-tertiary);
  border-bottom: 2px solid var(--color-tertiary);
}

.custom-card-footer {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.profile-container.figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-container img {
  width: 50%;
  height: auto;
  border-radius: 5%;
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
}

.figure-caption {
  font-family: var(--font-family);
  font-size: var(--font-size-rank);
  color: black;
  text-align: center;
}

.calificacion-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.calificacion-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px 5%;
  margin-top: -1%;
}

.profile-container {
  flex: 1 1 30%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  text-align: center;
}

.profile-container img {
  width: 50%;
  height: auto;
  border-radius: 5%;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
}

.orange-card-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange-card {
  width: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  flex: 1 1 60%;
  margin-right: 10px;
}

.card {
  height: 200px;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  padding-top: 8%;
  font-family: var(--font-family);
  font-size: var(--font-size-title);
  color: rgb(37, 35, 35);
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.card-value {
  margin-top: 20px;
  font-size: var(--font-size-value);
  font-family: var(--font-family);
  color: black;
  text-align: center;
}

.card-rank {
  font-size: var(--font-size-rank);
  font-family: var(--font-family);
  color: white;
  font-weight: bold;
  text-align: center;
}

.chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
}

.chart {
  width: 100%;
  max-width: 100%;
}

.agent-name {
  font-family: bold;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: black;
  margin: 15px 0;
  display: none;
  width: 80%;
}
.pink-card .card-title{
  color: white;
}

@media (orientation: landscape) {
  .calificacion-content {
    margin-left: -4%;
  }

  .blue-card:hover,
  .pink-card:hover,
  .yellow-card:hover,
  .orange-card:hover {
    width: 101%;
    height: auto;
    transform: scale(1.1);
    transition: all 0.3s ease; 
  }

  .custom-card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease; 
  }
  .chart-container:hover {
    transform: scale(1.01);
    transition: all 0.3s ease; 
  }

  .profile-container img {
    width: 100%;
    margin-right: 0;
    margin-left: 0%;
    margin-bottom: -2%;
    margin-top: -5%;
  }

  .profile-container img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease;
  }

  .orange-card-container {
    width: 70%;
    min-height: 300px; 
    margin-top: -2%; 
  }

  .orange-card {
    margin-top: 0%;
    height: 95%;
    margin-bottom: 1px;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
  }

  .card {
    flex: 1;
  }

  .card-value {
    font-size: 45px;
  }

  .star-rating {
    font-size: var(--font-size-star-rating);
  }

  .card-rank {
    font-size: var(--font-size-rank);
    color: white;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin-top: 8%;
    margin-bottom: 5%;
  }
  
  .chart-container {
    position: absolute; 
    top: calc(51% + 25px); 
    width: calc(71.5% - 40%);
    left: 31%;
  }

  .chart {
    width: 100%;
    height: 100px;
  }

  .charts-container {
    display: flex;
    width: 200%;
    margin-top: -20%;
  }

  .chart-wrapper {
    flex: 1;
    margin-left: 10px; 
  }

  .figure-caption{
    margin-top: 5%;
    margin-bottom: -10%;
  }
  .custom-card {
    width: 85%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 0%;
    margin-left: -5%;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .calificacion-content {
    margin-left: -4%;
  }

  .profile-container img {
    width: 90%;
    margin-right: 0;
    margin-left: 0%;
    margin-bottom: -2%;
    margin-top: -5%;
  }

  .orange-card-container {
    width: 63%;
    min-height: 300px; 
    margin-top: -2%; 
    margin-left: -7%;
  }

  .orange-card {
    margin-top: 0%;
    height: 95%;
    margin-bottom: 1px;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
  }

  .card {
    flex: 1;
  }

  .card-value {
    font-size: 45px;
  }
  .blue-card:hover,
  .pink-card:hover,
  .yellow-card:hover,
  .orange-card:hover {
    width: 100.5%;
    height: auto;
    transform: scale(1.1);
    transition: all 0.3s ease; 
  }
  

  .star-rating {
    font-size: var(--font-size-star-rating);
  }

  .card-rank {
    font-size: var(--font-size-rank);
    color: white;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin-top: 8%;
    margin-bottom: 5%;
  }
  
  .chart-container {
    position: absolute; 
    top: calc(55% + 25px); 
    width: calc(70% - 35%);
    left: 29%;
  }

  .chart {
    width: 100%;
    height: 100px;
  }

  .charts-container {
    display: flex;
    width: 200%;
    margin-top: -20%;
  }

  .chart-wrapper {
    flex: 1;
    margin-left: 10px; 
  }

  .figure-caption{
    margin-top: 5%;
    margin-bottom: -10%;
  }
  .custom-card {
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 0%;
    margin-left: -5%;
  }

  .pink-card .card-value,
  .yellow-card .card-value{
    margin-top: 10%;
  }

  .orange-card .card-title {
    margin-top: -3%;
  } 
  .profile-container img:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease;
  }

}

@media (orientation: portrait) {
  .calificacion-content {
    margin-left: -2%;
  }

  .custom-card {
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: -5%;
  }

  .profile-container img {
    width: 125%;
    margin-top: -10%;
    margin-left: -13%;
  }

  .profile-container img:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
  }
  
  .orange-card {
    height: 24vw;
    margin-top: -4%;
  }

  .orange-card-container {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 0;
  }

  .colored-card {
    height: 140px;
    margin-bottom: 1%;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

  .orange-card .card-title {
  margin-top: 0%;
  }

  .orange-card .card-value {
  margin-bottom: 10%;
  margin-top: 10%;
  }
  .card-title {
  font-size: var(--font-size-title-small);
  text-align: center;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -5%;
  }

  .card-value {
  font-size: var(--font-size-value-small);
  text-align: center;
  margin-top: 15px;
  }

  .card-rank {
  font-size: var(--font-size-rank);
  color: white;
  font-weight: bold;
  text-align: center;
  align-self: center;
  margin-top: 6%;
  }

  .chart-container {
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  }

  .chart {
  width: 100%;
  }

  .header {
  height: 50px;
  }
  .figure-caption {
  width: 100%;
  text-align: center;
  margin-top: -5%;
  margin-bottom: 5%;
  }
  .charts-container {
  margin-top: 0%;
  margin-left: 5%;
  }
  .custom-card {
    margin-left: -10%;
    margin-bottom: 5%;
  }
  .custom-card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease; 
  }
  .orange-card:hover {
    margin-top: 2%;
    margin-right: 5%;
    height: auto;
    transform: scale(1.1);
    transition: all 0.3s ease; 
  }
  .blue-card:hover,
  .pink-card:hover,
  .yellow-card:hover {
    margin-left: 5%;
    height: auto;
    transform: scale(1.1);
    transition: all 0.3s ease; 
  }
  .chart-container:hover {
    transform: scale(1.1);
    transition: all 0.3s ease; 
  }
}
@media (max-width: 1000px) {
 .header {
    height: 52px;
  }
}