.charts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chart {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

@media (orientation: landscape) {
  .charts-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .chart {
    width: calc(33.33% - 20px);
  }
}
