.client-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.titulo {
    font-weight: bold;
}

.client-div {
    flex-grow: 1; /* Permite que client-div ocupe todo el espacio restante */
    overflow-y: auto; /* Permite el desplazamiento si el contenido excede la altura disponible */
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: dimgrey;
}
