.completeClient{
  font-family: "Century Gothic", "Futura";
}

.client {
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  color: black;
  /* height: 100%; */
  /* width: 100%; */
}

.titulo-cliente {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  margin-bottom: 15px;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Century Gothic", "Futura"; */

  /* background-image: linear-gradient(
    0deg,
    rgba(1, 142, 135, 1) 0%,
    rgba(0, 188, 180, 1) 100%
  );
  border-radius: 20px;
  margin: 5px;
  color: black; */
}

.historial-div,
/* .client-div {
  flex: 1; 
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  border: 3px solid #00bcb4;
  align-items: center;
} */

.dataClient {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinea los elementos verticalmente al centro */
  gap: 5px; /* Ajusta el valor según sea necesario */
  margin-top: 20px;
}

.dataClient p {
  margin: 0; /* Elimina el margen predeterminado */
  margin-right: auto; /* Elimina el padding predeterminado */
  margin-top: 3px;
}

.client {
  display: flex;
  flex-direction: column;
}

.dataClient svg {
  width: 30px; /* Ajusta el valor según sea necesario */
  height: 30px; /* Ajusta el valor según sea necesario */
  margin-right: 10px; /* Espacio entre el icono y el texto, ajusta según sea necesario */
}

.label {
  font-weight: bold; /* Hace que la palabra "Numero" sea en negrita */
}

.labelNombre {
  font-weight: bold; /* Hace que la palabra "Numero" sea en negrita */
  font-size: 1.5rem;
}

.info{
  color: rgb(101, 99, 99);
}
