.completeCall {
  /* font-family: "Century Gothic", "Futura"; */
}

.titulo-llamada {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  margin-bottom: 3px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic", "Futura";
}


.dataClient {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinea los elementos verticalmente al centro */
    gap: 3px; /* Ajusta el valor según sea necesario */
    margin-top: 8px;
    font-family: "Century Gothic", "Futura";
    font-size: 10px;
  }
  
  .dataClient p {
    margin: 0; /* Elimina el margen predeterminado */
    margin-right: auto; /* Elimina el padding predeterminado */
    margin-top: 3px;
  }
  
  .client {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.icono{
    background-color: rgb(233,237,243);
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataClient svg {
    width: 30px; /* Ajusta el valor según sea necesario */
    height: 30px; /* Ajusta el valor según sea necesario */
    margin-right: 10px; /* Espacio entre el icono y el texto, ajusta según sea necesario */
  }
  
.label {
    font-weight: bold; /* Hace que la palabra "Numero" sea en negrita */
  }
  
.info{
    color: rgb(101, 99, 99);
  }
  

.filaEL {
    display: flex;
    flex-direction: row; /* Los elementos se colocan en una fila */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas si es necesario */
    justify-content: space-between; /* Espacio entre los elementos */
}

#e1, #e2 {
    flex: 1 1 50%; /* Los elementos ocupan el 50% del contenedor cada uno */
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total del elemento */
    padding: 10px; /* Agrega algo de padding */
}

#e3, #e4 {
    flex: 1 1 50%; /* Los elementos ocupan el 50% del contenedor cada uno */
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total del elemento */
    padding: 10px; /* Agrega algo de padding */
}

#e5{
  flex: 1 100%;
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total del elemento */
  padding: 10px;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 600px) {
    #e1, #e2 {
        flex: 1 1 100%; /* Los elementos ocupan el 100% del contenedor cada uno */
    }
}