
.containerMute {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.square {
  width: 25px;
  height: 32px;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.dummyCon {
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.image {
  transform: rotate(45deg);
  position: absolute;
}
