.service {
    display: flex;
    flex-direction: column;
}

.titulo{
    font-style: bold;
    border: 5px solid black;
}

.tarjetaProblema {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    column-gap: 38px;
}

.botones {
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    
}

.solucionTarjetaProblema {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}