.service {
    display: flex;
    flex-direction: column;
}

.tarjetaProblema {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    column-gap: 38px;
}

.botones {
    color: blue;
    border: 1px solid #000;
}

.btnSupervisor {
    color: red;
}

.solucionTarjetaProblema {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}