.service {
  flex: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column;
  color: black;
  height: 100%;
  width: 100%;
}

.titulo-service {
  font-weight: bold;
  background-image: linear-gradient(
    0deg,
    rgba(153, 0, 77, 1) 0%,
    rgba(215, 0, 109, 1) 100%
  );
  border-radius: 20px;
  margin: 5px;
}

.service-div {
  display: flex;
  flex-grow: 1; /* Para que ocupe todo el espacio disponible */
  flex-direction: column;
  justify-content: end;
  color: white;
}

.tarjetaProblema {
  flex-grow: 3; /* Ocupa el 75% del espacio disponible */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre elementos */
  padding: 20px; /* Añade un poco de espacio interior */
  border-radius: 20px;
  margin: 5px;
  border: 3px solid #d7006d;
  overflow: auto;
  
}

.problemas {
  font-size: 20px;
  font-style: bold;
  font-weight: bold;
}

.botones-service {
  flex-grow: 1; /* Ocupa el 25% restante del espacio disponible */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre botones */
  padding: 10px; /* Añade un poco de espacio interior */
  border-radius: 20px;
  margin: 5px;
  border: 3px solid #d7006d;
  justify-content: center;
}

.demo {
  /* Estilos base del botón */
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Increase the specificity */
.demo:hover {
  background-color: white;
}
