.service {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.titulo-service {
    font-weight: bold;
    background-color: #D7006D;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.service-div {
    display: flex;
    flex-grow: 1; /* Para que ocupe todo el espacio disponible */
    flex-direction: column;
    
}

.tarjetaProblema {
    flex-grow: 3; /* Ocupa el 75% del espacio disponible */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre elementos */
    padding: 20px; /* Añade un poco de espacio interior */
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 3px solid #D7006D;
}

.problemas{
    font-size: 20px;
    font-style: bold;
    font-weight: bold;
}

.botones-service {
    flex-grow: 1; /* Ocupa el 25% restante del espacio disponible */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre botones */
    padding: 10px; /* Añade un poco de espacio interior */
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    border: 3px solid #D7006D;
}

