.solutions {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.titulo{
    font-style: bold;
    border: 2px solid black;
}

.solutions-div {
    display: flex;
    flex-grow: 1; /* Para que ocupe todo el espacio disponible */
    flex-direction: column;
}

.botones {
    flex-grow: 1; /* Ocupa el 25% restante del espacio disponible */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre botones */
    border: 1px solid #000;
    padding: 10px; /* Añade un poco de espacio interior */
}

.possible-solutions {
    flex-grow: 3; /* Ocupa el 75% del espacio disponible */
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    gap: 20px; /* Espacio entre elementos */
    padding: 20px; /* Añade un poco de espacio interior */
}