.solution-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
  border: 0.5px solid #b2b2b2;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.solution-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.solution-card.blocked {
  background-color: #fac8e1;
  border-color: #fac8e1;
  cursor: not-allowed;
}

.solution-card.blocked:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
