.stats {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que el contenedor .stats ocupe toda la altura de la ventana */
}

.titulo-stats {
    font-weight: bold;
    background-color: #EC6907;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.stats-div {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Esto hará que .stats-div ocupe todo el espacio restante */
}    

.sentiment-div, .prom-div {
    flex: 1; /* Cada uno toma la mitad del espacio disponible en .stats-div */
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: dimgrey;
}
