body{
    /* background-color: rgb(179, 208, 211); */
    background-color: white;
}



.window-header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.llamada{
    display: flex;
    flex-direction: row;
}

.datosLlamada{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.servicioLlamada{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.7rem;
}