body{
    background-color: rgb(218,228,229);
}


.window-header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.llamada{
    display: flex;
    flex-direction: row;
}

.datosLlamada{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.servicioLlamada{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}