.window{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #8fbc8f82;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.window > div {
    flex: 1; 
    margin: 0px;
}